Django==5.0.2
djangorestframework==3.14.0
python-dotenv==1.0.1
django-cors-headers==4.3.1
psycopg2-binary==2.9.9
Pillow==10.2.0
django-mongodb-backend==5.0.0b1
djangorestframework-simplejwt==5.3.1
bcrypt==4.1.2
drf-yasg==1.21.7
google-generativeai==0.3.2
PyPDF2==3.0.1
langchain==0.1.9
langchain-community==0.0.24
sentence-transformers==2.5.1
faiss-cpu==1.7.4
PyMuPDF==1.23.26
pdf2image==1.17.0
easyocr==1.7.1
langdetect==1.0.9
numpy==1.26.4
opencv-python==4.9.0.80